/** All these styles/icons/properties are overrides of the simple skin */

/** :alias means that this class or icon is not used directly. It is included
in other component's style selectors or other component's icons. It is
meant to be a fast way to change styles. The alternative is to style each
component. **/

.AFRequiredIconStyle {
	color: #45616f;
}

/** Help facet styling */
.AFDarkForeground:alias {color:#003366;}

.img {
    border: none;
}

body {
    border: none;
    margin: 0px;
    padding: 0px;
}

.top {
    vertical-align:top;
}

.large-text {
    font-size: 14pt;
}
.test-text {
    font-size: 16pt;
    font-weight: bold;
    color: red;
}
.opaque-text {
    font-size: 8pt;
    color: gray;
}

.sortLink:link {
    color: white;
    font-weight: bold;
}
.sortLink:active {
    color: white;
    font-weight: bold;
}
.sortLink:hover {
    color: white;
    font-weight: bold;
}
.sortLink:visited {
    color: white;
    font-weight: bold;
}

#header {
    background: #3d6692 url(/skins/propertymaintenance/skin_images/propmtnce_logo.jpg) no-repeat scroll 0 0;
    height: 90px;
    width: 100%;
    outline: none;
    margin: 0px;
    border: none;
    border-width: 0px;
    border-style: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#navigation {
    width: 176px;
    height: 100%;
    outline: none;
    background-color: #9e988a;
    margin: 0px;
    border: none;
    border-width: 0px;
    border-style: none;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#content {
    width: 95%;
    height: 100%;
    outline: none;
    background-color: white;
    margin: 0px;
    margin-left: 10px;
    border: none;
    border-width: 0px;
    border-style: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.logout {
    height: 40px;
    width: 40px;
    position: absolute;
	top: 20px;
	right: 40px;
}

.nav:link
{
	color: #0b3d73;
	text-decoration:none;
	padding-right: 15px;
	font-weight: bold;
}

.nav:visited
{
    color: #0b3d73;
	text-decoration:none;
	padding-right: 15px;
	font-weight: bold;
}

.nav:hover
{
	color:white;
	text-decoration:none;
	padding-right: 15px;
	font-weight: bold;
}

.nav:active
{
    color: #0b3d73;
	text-decoration:none;
	padding-right: 15px;
	font-weight: bold;
}

.layouttable {
    padding: 0px;
}

#loginbox {
    background: white url(/skins/propertymaintenance/skin_images/propmtnce_logo2.jpg) no-repeat scroll 0 0;
    width: 400px;
    height: 280px;
    border: 1px solid #000;
    padding-left: 10px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    /* Half the width of the DIV tag which is 50 pixels */
    margin-top: -140px;
    /* Half the height of the DIV tag which is also 50 pixels */
}

#loginform {
    margin-top: 90px;
    width: 100%;
}

#accessdenied {
    width: 400px;
    height: 100px;
    border: 1px solid #000;
    background-color: white;
    text-align: center;
    padding-left: 10px;
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    /* Half the width of the DIV tag which is 50 pixels */
    margin-top: -50px;
    /* Half the height of the DIV tag which is also 50 pixels */
}

/** Table Settings **/
af|column::sortable-header-text {
	background-color: #3d6692;
	color: #ffffff;
}
af|column::header-text {
	background-color: #3d6692;
	color: #ffffff;
}
af|column::header-icon-format {
	color: #ffffff;
	background-color: #3d6692;
}
af|column::sortable-header-icon-format {
	background-color: #3d6692;
}
/**.AFTableCellDataBandedBackgroundColor:alias
{
  background-color: white;
}
.AFTableCellDataBackgroundColor:alias
{
  background-color: #EFEBE0;
}**/
/** Column Settings - adding an icon to the sortable column**/
af|column::sort-ascend-icon
{
  content: url(/skins/propertymaintenance/skin_images/sort_asc_n.png);
}

af|column::sort-descend-icon
{
  content: url(/skins/propertymaintenance/skin_images/sort_des_n.png);
}

af|panelFormLayout::cell
{
	padding-top: 3px;
}

/**
    Problem with checkbox in the panelformlayout the height of the cell is increased
    by the div that contains the msg. The following is a fix:
    http://www.mail-archive.com/users@myfaces.apache.org/msg49341.html
 */
.OraInlineErrorText {
    margin-left: 0px! important
}

af|panelBox::header
{
  color: #b73a20;
  font-family: Arial;
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 5px;
}

af|panelBox::body
{
  color: black;
  font-family: Arial;
  font-size: 14pt;
  padding-top: 2px;
}

/** panelHeader **/
/** ----------- **/
af|panelHeader
{
  -ora-rule-ref:selector(".AFDarkAccentBorder:alias");
   border-width:0px 0px 1px 0px;
   border-style:solid;
   vertical-align:bottom;
   margin-bottom:3px;
   padding:0px 3px;
   font-weight:bolder;
   font-size:larger;
}

af|panelHeader::level-one
{
    color: #0B3D73;
    font-weight: bold;
}

af|panelHeader::level-two
{
    color: #0B3D73;
    font-weight: bold;
}

af|panelHeader::level-three
{
    color: #0B3D73;
    font-weight: bold;
}

/** Style global messages */
af|messages::body
{
    background-color: white;
}

af|messages::list
{
    color: red;
}

af|selectBooleanCheckbox
{
    font-size: 10pt;
}

/** Make output text font size consistent with the input font size */
.AFLabelText
{
    font-size: 10pt;
}