<tr:document xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad" title="#{msgs.login}"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	initialFocusId="j_username" inlineStyle="background-color: #3d6692;">
	<f:loadBundle basename="messages" var="msgs" />
        <tr:form id="form" defaultCommand="loginBtn">
            <div id="loginbox">
                <tr:panelFormLayout id="loginform">
                    <tr:outputText value="#{appProps.test?'Test System':''}" styleClass="test-text" />
                    <tr:messages id="messages" globalOnly="true" text=" "/>
                    <tr:inputText id="j_username" value="#{login.username}" label="#{msgs.username}:" required="true" />
                    <tr:spacer height="5"/>
                    <tr:inputText id="j_password" value="#{login.password}" label="#{msgs.password}:" required="true" secret="true" />
                    <trh:tableLayout>
                        <trh:rowLayout>
                            <trh:cellFormat>
                                <tr:outputLabel value="#{msgs.rememberme}:" />
                            </trh:cellFormat>
                            <trh:cellFormat>
                                <input type="checkbox" name="_spring_security_remember_me" />
                            </trh:cellFormat>
                        </trh:rowLayout>
                     </trh:tableLayout>
                    <tr:commandButton id="loginBtn" text="#{msgs.login}" action="login" />
                </tr:panelFormLayout>
            </div>
        </tr:form>
</tr:document>
