<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
    <ui:param name="focus" value="form:title" />
	<ui:param name="title" value="#{msgs.editmsg}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.editmsg}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
        <tr:panelFormLayout>
            <tr:inputText label="#{msgs.msgid}:" value="#{editMsg.msgPostRow.msgId}" readOnly="true"/>
            <tr:inputHidden value="#{editMsg.msgPostRow.msgDate}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
            <ui:include src="/pages/compositions/msgform.xhtml">
                <ui:param name="msgtitle" value="#{editMsg.msgPostRow.msgTitle}"/>
                <ui:param name="message" value="#{editMsg.msgPostRow.msg}"/>
            </ui:include>
            <tr:panelButtonBar>
                <tr:commandButton id="update" text="#{msgs.updmsg}" action="#{editMsg.updateMsg}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="admin" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
