<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="name" label="#{msgs.mtncegroup}:" required="true" value="#{mtncegroup}" columns="58" maximumLength="30"/>
    <tr:inputText id="desc" label="#{msgs.desc}:" rows="6" columns="58" required="true" maximumLength="500" value="#{mtncedesc}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.max500}"/>
        </f:facet>
    </tr:inputText>
    <tr:selectBooleanCheckbox id="active" label="#{msgs.active}:" value="#{active}" />
    <tr:selectManyCheckbox id="wotypes" label="#{msgs.wotype}:" valuePassThru="true" converter="integerConverter" value="#{mtncegroupwotypes}" required="true">
        <f:selectItems value="#{pcListWoTypes}"/>
    </tr:selectManyCheckbox>
    <tr:selectManyShuttle id="locations" value="#{mtncegrouploc}" valuePassThru="true" converter="integerConverter" leadingHeader="#{msgs.locavail}" trailingHeader="#{msgs.locselec}">
         <f:selectItems value="#{pcListLocations}"/>
    </tr:selectManyShuttle>
    <tr:selectManyShuttle id="users" value="#{mtncegrouppersonnel}" valuePassThru="true" converter="integerConverter" leadingHeader="#{msgs.usersavail}" trailingHeader="#{msgs.usersselec}">
        <f:selectItems value="#{pcListUsers}"/>
    </tr:selectManyShuttle>
</ui:composition>
Everything below ignored.
</body>
</html>
