<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:wotype" />
	<ui:param name="title" value="#{msgs.editwotype}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.editwotype}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
        <tr:panelFormLayout>
            <tr:inputText label="#{msgs.wotypeid}:" value="#{editWoType.woTypeRow.woTypeId}" readOnly="true"/>
            <tr:inputHidden value="#{editWoType.woTypeRow.woLastUpd}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
            <ui:include src="/pages/compositions/wotypeform.xhtml">
                <ui:param name="wotype" value="#{editWoType.woTypeRow.woTypeName}"/>
                <ui:param name="descwotype" value="#{editWoType.woTypeRow.woTypeDesc}"/>
                <ui:param name="woactive" value="#{editWoType.woTypeRow.woActive}"/>
                <ui:param name="mtncegroups" value="#{editWoType.woTypeRow.listMtnceGroups}"/>
            </ui:include>
            <tr:panelButtonBar>
                <tr:commandButton id="upduser" text="#{msgs.updwotype}" action="#{editWoType.updateWoType}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="admin" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
