<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:page:application" />
	<ui:param name="title" value="#{msgs.editwo}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.editwo} # #{editWo.workOrderRow.woNumber}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
        <tr:inputHidden value="#{editWo.workOrderRow.woLastUpdDate}">
            <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
        </tr:inputHidden>
        <tr:panelHeader text="#{msgs.problemdetails}" size="2"/>
		<tr:panelFormLayout>
            <tr:selectOneChoice id="loc" label="#{msgs.location}" valuePassThru="true" unselectedLabel="#{msgs.selectone}" required="true" value="#{editWo.workOrderRow.woLocationId}">
                <f:selectItems value="#{editWo.listLocations}" />
            </tr:selectOneChoice>
            <tr:inputText id="dept" label="#{msgs.department}" readOnly="true" value="#{editWo.workOrderRow.woDepartment}"/>
            <tr:panelLabelAndMessage label="#{msgs.requestor}:">
                <tr:goLink id="requestor" text="#{editWo.workOrderRow.woRequestor} - #{msgs.phone}: #{editWo.workOrderRow.woRequestorPhone}" destination="mailto:#{editWo.workOrderRow.woRequestorEmail}?subject=Work Order Request - #{editWo.workOrderRow.woNumber}"/>
            </tr:panelLabelAndMessage>
            <tr:inputText id="datereq" label="#{msgs.datetimereq}:" readOnly="true" value="#{editWo.workOrderRow.woEnteredDate}">
                <f:convertDateTime pattern="M/d/yyyy h:mm a" type="both"/>
            </tr:inputText>
            <tr:selectOneChoice id="typeWork" label="#{msgs.wotype}" valuePassThru="true" unselectedLabel="#{msgs.selectone}" required="true" value="#{editWo.workOrderRow.woTypeId}">
                <f:selectItems value="#{editWo.listWoTypes}" />
            </tr:selectOneChoice>
            <tr:inputText id="reqcompdate" label="#{msgs.reqcompldate}:" readOnly="true" value="#{editWo.workOrderRow.woReqCompDate}">
                <f:convertDateTime pattern="M/d/yyyy"/>
            </tr:inputText>
            <tr:inputText id="reqcmts" label="#{msgs.reqcomments}:" readOnly="true" columns="58" rows="6" value="#{editWo.workOrderRow.woReqComments}"/>
		</tr:panelFormLayout>
        <tr:panelHeader text="#{msgs.mtncedetails}" size="2"/>
        <tr:panelFormLayout>
            <tr:selectOneRadio id="status" label="#{msgs.status}:" layout="horizontal" required="true" value="#{editWo.workOrderRow.woStatusId}" autoSubmit="true" valueChangeListener="#{editWo.statusChangeListener}" immediate="true">
                <f:selectItems value="#{editWo.listWoStatuses}"/>
            </tr:selectOneRadio>
            <tr:inputText id="lastupd" label="#{msgs.lastupd}:" readOnly="true" value="#{editWo.workOrderRow.woLastUpdated}"/>
            <tr:panelLabelAndMessage label="#{msgs.startdatetime}:" for="startDate" binding="#{editWo.bindStartDate}" partialTriggers="form:status" >
                <rich:calendar id="startDate" value="#{editWo.workOrderRow.woStartDate}" inputSize="17" enableManualInput="true" datePattern="M/d/yyyy h:mm a"/>
                <f:facet name="help">
                    <tr:outputText value="#{msgs.datetimeformat}"/>
                </f:facet>
            </tr:panelLabelAndMessage>
            <tr:panelLabelAndMessage label="#{msgs.compldatetime}:" binding="#{editWo.bindCompletionDate}" partialTriggers="form:status form:partresults:addpart">
                <rich:calendar id="complDate" value="#{editWo.workOrderRow.woCompletionDate}" validator="#{editWo.completionDateTimeValidator}" inputSize="17" enableManualInput="true" datePattern="M/d/yyyy h:mm a"/>
                <f:facet name="help">
                    <tr:outputText value="#{msgs.datetimeformat}"/>
                </f:facet>
            </tr:panelLabelAndMessage>
            <tr:inputText id="instructions" label="#{msgs.workinst}:" columns="58" rows="6" maximumLength="1000" value="#{editWo.workOrderRow.woInstructions}">
                <f:facet name="help">
                    <tr:outputText value="#{msgs.max1000}"/>
                </f:facet>
            </tr:inputText>
            <tr:panelLabelAndMessage label="#{msgs.workdonecomments}:" for="donecmts" binding="#{editWo.bindCompletionCommments}" partialTriggers="form:status" >
                <tr:inputText id="donecmts" columns="58" rows="6" maximumLength="1000" simple="true" value="#{editWo.workOrderRow.woCompletionComments}">
                    <f:facet name="help">
                        <tr:outputText value="#{msgs.max1000}"/>
                    </f:facet>
                </tr:inputText>
            </tr:panelLabelAndMessage>
            <tr:panelLabelAndMessage label="#{msgs.servdone}:" for="servdone" binding="#{editWo.bindServiceAreas}" partialTriggers="form:status" >
                <tr:selectManyListbox id="servdone" size="3" simple="true" valuePassThru="true" converter="integerConverter" value="#{editWo.workOrderRow.listServiceItems}">
                    <f:selectItems value="#{editWo.pcListServiceItems}"/>
                </tr:selectManyListbox>
            </tr:panelLabelAndMessage>
            <tr:table id="partresults" var="row" rowBandingInterval="1" binding="#{editWo.bindTable}" value="#{pageFlowScope.editWoMaterials}"
                rows="0" rendered="true" emptyText="#{msgs.noparts}" width="100%" partialTriggers="dletpart addpart">
                <tr:column rendered="false">
                    <tr:outputText value="#{row}" binding="#{editWo.bindMaterialRow}" />
                </tr:column>
                <tr:column rendered="false">
                    <tr:outputText value="#{row.matId}"/>
                </tr:column>
                <tr:column headerText="#{msgs.parts}" align="left" sortable="true" sortProperty="matPartName">
                    <tr:inputText id="partname" value="#{row.matPartName}" binding="#{editWo.bindPart}" maximumLength="30"/>
                </tr:column>
                <tr:column headerText="#{msgs.quantity}" align="left" sortable="true" sortProperty="matQuantity">
                    <tr:inputText id="qty" value="#{row.matQuantity}" columns="4" maximumLength="8"/>
                </tr:column>
                <tr:column headerText="#{msgs.ponum}" align="left" sortable="true" sortProperty="matPoNumber">
                    <tr:inputText value="#{row.matPoNumber}" maximumLength="20"/>
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="dletpart" action="#{editWo.deleteMaterial}" immediate="false" partialSubmit="true">
                            <tr:image id="dletpartimg" source="/images/cancel.png" styleClass="img" shortDesc="#{msgs.dlet}"/>
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
                <f:facet name="footer">
                    <tr:commandLink id="addpart" actionListener="#{editWo.addMaterialRow}" partialSubmit="true">
                        <tr:image source="/images/add_plus.jpg" styleClass="img" shortDesc="#{msgs.addpart}"/>
                    </tr:commandLink>
                </f:facet>
            </tr:table>
            <tr:inputText id="chrghrs" label="#{msgs.chrgmanhrsacct}:" value="#{editWo.workOrderRow.woChrgManHrsAcct}" maximumLength="20"/>
            <tr:inputText id="chrgparts" label="#{msgs.chrgpartsacct}:" value="#{editWo.workOrderRow.woChrgPartsAcct}" maximumLength="20"/>
            <tr:inputNumberSpinbox id="numtrips" label="#{msgs.numtrips}:" validator="positiveNumValidator" minimum="0" maximum="10" value="#{editWo.workOrderRow.woNumberTrips}"/>
            <tr:inputNumberSpinbox id="numpers" label="#{msgs.numpers}:" validator="positiveNumValidator" minimum="0" maximum="10" value="#{editWo.workOrderRow.woNumberPersons}"/>
            <tr:panelLabelAndMessage label="#{msgs.labormanhrs}:" for="laborhrs" binding="#{editWo.bindLaborHrs}" partialTriggers="form:status" >
                <tr:inputText id="laborhrs" simple="true" columns="4" validator="positiveNumValidator" value="#{editWo.workOrderRow.woManHrs}" maximumLength="6"/>
            </tr:panelLabelAndMessage>
            <tr:inputText id="travelhrs" label="#{msgs.travelmanhrs}:" columns="4" validator="positiveNumValidator" value="#{editWo.workOrderRow.woTravelHrs}" maximumLength="6"/>
            <tr:inputText id="totalhrs" label="#{msgs.totalmanhrs}:" readOnly="true" value="#{editWo.workOrderRow.woTotalHrs}" maximumLength="6"/>
            <tr:panelLabelAndMessage label="#{msgs.complby}:" for="compby" binding="#{editWo.bindCompletedBy}" partialTriggers="form:status" >
                <tr:inputText id="compby" simple="true" value="#{editWo.workOrderRow.woCompletedBy}" maximumLength="30"/>
            </tr:panelLabelAndMessage>
            <tr:selectBooleanCheckbox id="archive" label="#{msgs.archived}:" value="#{editWo.workOrderRow.archived}" rendered="#{securityScope.userInRole['ROLE_SUPER']}"/>
            <tr:panelButtonBar>
                <tr:commandButton id="update" text="#{msgs.updwo}" action="#{editWo.updWorkOrder}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="searchwo" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
