<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
    <ui:param name="focus" value="form:wonum" />
	<ui:param name="title" value="#{msgs.searchwo}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.searchwo}"/>
            <ui:param name="pgimgdesc" value="#{msgs.searchwo}"/>
            <ui:param name="pgimg" value="/images/search.gif"/>
        </ui:include>
        <tr:panelGroupLayout layout="vertical">
            <tr:panelFormLayout id="panelform" labelWidth="1%" fieldWidth="94%" maxColumns="2" rows="1" inlineStyle="width:95%;">
                <tr:inputText id="wonum" label="#{msgs.wonumber}" validator="workOrderNumValidator" columns="14" value="#{searchWo.workOrderRow.woNumber}" maximumLength="20"/>
                <tr:selectOneChoice id="loc" label="#{msgs.location}:" value="#{searchWo.workOrderRow.woLocationId}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE,ROLE_DEPT_HEAD']}">
                    <f:selectItems value="#{searchWo.listLocations}"/>
                </tr:selectOneChoice>
                <tr:selectOneChoice id="dept" label="#{msgs.department}:" value="#{searchWo.workOrderRow.woDepartmentId}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE']}">
                    <f:selectItems value="#{searchWo.listDepts}"/>
                </tr:selectOneChoice>
                <tr:selectOneChoice id="serv" label="#{msgs.servdone}:" value="#{searchWo.pcServiceItemId}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
                    <f:selectItems value="#{searchWo.listServiceItems}"/>
                </tr:selectOneChoice>
                <tr:panelLabelAndMessage for="begincreatedate" label="#{msgs.begincreatedate}:" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE,ROLE_DEPT_HEAD']}">
                    <rich:calendar id="begincreatedate" inputSize="8" value="#{searchWo.workOrderRow.startCreateDateTime}" enableManualInput="true" datePattern="M/d/yyyy" />
                    <f:facet name="help">
                        <tr:outputText value="#{msgs.dateformat}"/>
                    </f:facet>
                </tr:panelLabelAndMessage>
                <tr:selectOneChoice id="status" label="#{msgs.status}:" value="#{searchWo.workOrderRow.woStatusId}" unselectedLabel="#{msgs.selectone}">
                    <f:selectItems value="#{searchWo.listStatus}"/>
                </tr:selectOneChoice>
                <tr:selectOneChoice id="wotype" label="#{msgs.wotype}:" value="#{searchWo.workOrderRow.woTypeId}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE,ROLE_DEPT_HEAD']}">
                    <f:selectItems value="#{searchWo.listWoTypes}"/>
                </tr:selectOneChoice>
                <tr:selectOneChoice id="mtnce" label="#{msgs.mtncegroup}:" value="#{searchWo.workOrderRow.mtnceGroup}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
                    <f:selectItems value="#{searchWo.listMtnceGroups}"/>
                </tr:selectOneChoice>
                <tr:selectOneChoice id="users" label="#{msgs.requestor}:" value="#{searchWo.workOrderRow.woRequestorUserId}" unselectedLabel="#{msgs.selectone}" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE']}">
                    <f:selectItems value="#{searchWo.listUsers}"/>
                </tr:selectOneChoice>
                <tr:panelLabelAndMessage for="endcreatedate" label="#{msgs.endcreatedate}:" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE,ROLE_DEPT_HEAD']}">
                    <rich:calendar id="endcreatedate" inputSize="8" value="#{searchWo.workOrderRow.endCreateDateTime}" enableManualInput="true" datePattern="M/d/yyyy" />
                    <f:facet name="help">
                        <tr:outputText value="#{msgs.dateformat}"/>
                    </f:facet>
                </tr:panelLabelAndMessage>
            </tr:panelFormLayout>
            <tr:inputText id="reqcomments" label="#{msgs.reqcomments}:" maximumLength="100" columns="90" value="#{searchWo.workOrderRow.woReqComments}" rendered="#{securityScope.userInRole['ROLE_SUPER']}"/>
            <tr:selectBooleanCheckbox id="archived" text="#{msgs.archived}" value="#{searchWo.workOrderRow.archived}"/>
            <tr:spacer height="5"/>
            <tr:panelButtonBar>
                <tr:commandButton id="search" text="#{msgs.searchwo}" action="#{searchWo.doSearch}">
                    <tr:setActionListener to="#{pageFlowScope.displayresults}" from="true"/>
                </tr:commandButton>
                <tr:commandButton id="clear" text="#{msgs.clear}" action="#{searchWo.clear}">
                    <tr:setActionListener to="#{pageFlowScope.displayresults}" from="false"/>
                </tr:commandButton>
            </tr:panelButtonBar>
            <tr:spacer height="5"/>
            <tr:table id="searchresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.searchlist}" rows="100" rendered="#{pageFlowScope.displayresults}"
                first="#{pageFlowScope.searchlist.first}"
                partialTriggers="::form:search ::form:clear"
                emptyText="#{msgs.nowo}" width="95%" binding="#{searchWo.csvBean.table}"
                rangeChangeListener="#{searchWo.rangeChange}">
                <f:facet name="actions">
                    <tr:commandLink rendered="#{securityScope.userInRole['ROLE_SUPER']}">
                        <tr:image source="/images/exportcsv.gif" styleClass="img"/>
                        <tr:fileDownloadActionListener
                            contentType="text/csv; charset=utf-8" filename="export.csv"
                            method="#{searchWo.csvBean.sendContent}" />
                    </tr:commandLink>
                </f:facet>
                <tr:column headerText="#{msgs.wonumber}" sortable="false" sortProperty="woNumber">
                    <tr:commandLink id="viewwo" action="viewwo">
                        <tr:setActionListener from="#{row.woId}" to="#{pageFlowScope.woid}"/>
                        <tr:outputText value="#{row.woNumber}" />
                    </tr:commandLink>
                </tr:column>
                <tr:column headerText="#{msgs.status}" sortable="false" sortProperty="woStatus">
                    <tr:outputText value="#{row.woStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.reqcomments}" sortable="false" sortProperty="woReqComments">
                    <tr:outputText value="#{row.woReqComments}" rendered="#{!(row.woStatusId == 1 and securityScope.userInRole['ROLE_MTNCE'])}"/>
                </tr:column>
                <tr:column headerText="#{msgs.location}" sortable="false" sortProperty="woLocation">
                    <tr:outputText value="#{row.woLocation}" />
                </tr:column>
                <tr:column headerText="#{msgs.department}" sortable="false" sortProperty="woDepartment">
                    <tr:outputText value="#{row.woDepartment}" />
                </tr:column>
                <tr:column headerText="#{msgs.wotype}" sortable="false" sortProperty="woType">
                    <tr:outputText value="#{row.woType}" />
                </tr:column>
                <tr:column headerText="#{msgs.requestor}" sortable="false" sortProperty="woRequestor">
                    <tr:goLink id="requestor" destination="mailto:#{row.woRequestorEmail}?subject=Work Order Request - #{row.woNumber}">
                        <tr:outputText value="#{row.woRequestor}" />
                    </tr:goLink>
                </tr:column>
                <tr:column width="1%" align="left" rendered="#{(securityScope.userInRole['ROLE_SUPER']) or (securityScope.userInRole['ROLE_MTNCE'] and !row.archived)}">
                    <tr:panelButtonBar>
                        <tr:commandLink id="edit" action="editwo">
                            <tr:setActionListener from="#{row.woId}" to="#{pageFlowScope.woid}"/>
                            <tr:setActionListener from="#{null}" to="#{pageFlowScope.editWoMaterials}"/>
                            <tr:image id="editimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </tr:panelGroupLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
