<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:page:application" />
	<ui:param name="title" value="#{msgs.wodetails}" />
	<ui:define name="content">
        <trh:tableLayout width="100%">
            <trh:rowLayout>
                <trh:cellFormat width="1%">
                    <tr:commandLink id="print" action="#{viewWo.printDetails}">
                        <tr:image source="/images/pdfprint.gif" shortDesc="#{msgs.print}" styleClass="img"/>
                    </tr:commandLink>
                </trh:cellFormat>
                <trh:cellFormat>
                    <tr:panelHeader text="#{msgs.wonum} #{viewWo.workOrderRow.woNumber}"/>
                </trh:cellFormat>
            </trh:rowLayout>
        </trh:tableLayout>
        <tr:panelHeader text="#{msgs.problemdetails}" size="2"/>
        <tr:panelFormLayout>
            <tr:inputText id="loc" label="#{msgs.location}:" readOnly="true" value="#{viewWo.workOrderRow.woLocation}"/>
            <tr:inputText id="dept" label="#{msgs.department}:" readOnly="true" value="#{viewWo.workOrderRow.woDepartment}"/>
            <tr:panelLabelAndMessage label="#{msgs.requestor}:">
                <tr:goLink id="requestor" text="#{viewWo.workOrderRow.woRequestor} - #{msgs.phone}: #{viewWo.workOrderRow.woRequestorPhone}" destination="mailto:#{viewWo.workOrderRow.woRequestorEmail}?subject=Work Order Request - #{viewWo.workOrderRow.woNumber}"/>
            </tr:panelLabelAndMessage>
            <tr:inputText id="datereq" label="#{msgs.datetimereq}:" readOnly="true" value="#{viewWo.workOrderRow.woEnteredDate}">
                <f:convertDateTime  pattern="M/d/yyyy h:mm a" type="both"/>
            </tr:inputText>
            <tr:inputText id="type" label="#{msgs.wotype}:" readOnly="true" value="#{viewWo.workOrderRow.woType}"/>
            <tr:inputText id="reqcompdate" label="#{msgs.reqcompldate}:" readOnly="true" value="#{viewWo.workOrderRow.woReqCompDate}">
                <f:convertDateTime  pattern="M/d/yyyy"/>
            </tr:inputText>
            <tr:inputText id="reqcmts" label="#{msgs.reqcomments}:" readOnly="true" columns="58" rows="6" value="#{viewWo.workOrderRow.woReqComments}"/>
        </tr:panelFormLayout>
        <trh:tableLayout width="100%">
            <trh:rowLayout>
                <trh:cellFormat width="1%">
                    <tr:commandLink id="edit" action="editwo" rendered="#{securityScope.userInRole['ROLE_SUPER,ROLE_MTNCE']}">
                        <tr:setActionListener from="#{viewWo.workOrderRow.woId}" to="#{pageFlowScope.woid}"/>
                        <tr:setActionListener from="#{null}" to="#{pageFlowScope.editWoMaterials}"/>
                        <tr:image id="editimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                    </tr:commandLink>
                </trh:cellFormat>
                <trh:cellFormat>
                    <tr:panelHeader text="#{msgs.mtncedetails}" size="2"/>
                </trh:cellFormat>
            </trh:rowLayout>
        </trh:tableLayout>
        <tr:panelFormLayout>
            <tr:inputText id="status" label="#{msgs.status}:" readOnly="true" value="#{viewWo.workOrderRow.woStatus}"/>
            <tr:inputText id="lastupd" label="#{msgs.lastupd}:" readOnly="true" value="#{viewWo.workOrderRow.woLastUpdated}"/>
            <tr:inputText id="startdate" label="#{msgs.startdatetime}:" readOnly="true" value="#{viewWo.workOrderRow.woStartDate}">
                <f:convertDateTime pattern="M/d/yyyy h:mm a" type="both"/>
            </tr:inputText>
            <tr:inputText id="compdate" label="#{msgs.compldatetime}:" readOnly="true" value="#{viewWo.workOrderRow.woCompletionDate}">
                <f:convertDateTime pattern="M/d/yyyy h:mm a" type="both"/>
            </tr:inputText>
            <tr:inputText id="instr" label="#{msgs.workinst}:" readOnly="true" columns="58" rows="6" value="#{viewWo.workOrderRow.woInstructions}"/>
            <tr:inputText id="donecmts" label="#{msgs.workdonecomments}:" readOnly="true" columns="58" rows="6" value="#{viewWo.workOrderRow.woCompletionComments}"/>
            <tr:selectManyListbox id="services" label="#{msgs.servdone}:" readOnly="true" size="3" value="#{viewWo.workOrderRow.listServiceItems}">
                 <f:selectItems value="#{viewWo.pcListServiceItems}"/>
            </tr:selectManyListbox>
            <tr:table id="partresults" var="row" rowBandingInterval="1" value="#{viewWo.workOrderRow.listMaterials}"
                rows="10" rendered="true" emptyText="#{msgs.noparts}" width="100%">
                <tr:column headerText="#{msgs.parts}" align="left">
                    <tr:outputText value="#{row.matPartName}" />
                </tr:column>
                <tr:column headerText="#{msgs.quantity}" align="left">
                    <tr:outputText value="#{row.matQuantity}" />
                </tr:column>
                <tr:column headerText="#{msgs.ponum}" align="left">
                    <tr:outputText value="#{row.matPoNumber}" />
                </tr:column>
            </tr:table>
            <tr:inputText id="chrghrs" label="#{msgs.chrgmanhrsacct}:" readOnly="true" value="#{viewWo.workOrderRow.woChrgManHrsAcct}"/>
            <tr:inputText id="chrgpart" label="#{msgs.chrgpartsacct}:" readOnly="true" value="#{viewWo.workOrderRow.woChrgPartsAcct}"/>
            <tr:inputText id="numtrip" label="#{msgs.numtrips}:" readOnly="true" value="#{viewWo.workOrderRow.woNumberTrips}"/>
            <tr:inputText id="numpers" label="#{msgs.numpers}:" readOnly="true" value="#{viewWo.workOrderRow.woNumberPersons}"/>
            <tr:inputText id="laborhrs" label="#{msgs.labormanhrs}:" readOnly="true" value="#{viewWo.workOrderRow.woManHrs}"/>
            <tr:inputText id="travelhrs" label="#{msgs.travelmanhrs}:" readOnly="true" value="#{viewWo.workOrderRow.woTravelHrs}"/>
            <tr:inputText id="totalhrs" label="#{msgs.totalmanhrs}:" readOnly="true" value="#{viewWo.workOrderRow.woTotalHrs}"/>
            <tr:inputText id="compby" label="#{msgs.complby}:" readOnly="true" value="#{viewWo.workOrderRow.woCompletedBy}"/>
            <tr:inputText id="archived" label="#{msgs.archived}:" readOnly="true" value="#{viewWo.workOrderRow.archivedString}"/>
        </tr:panelFormLayout>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
