<tr:document xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" initialFocusId="#{focus}" mode="strict"
	title="#{title}">
    <f:facet name="metaContainer">
        <script language="javascript">
            function expireWarn() {
              alert("Your session will expire in 2 minutes.\n\nPress OK to extend your session.")
              location.reload();
            }
            setTimeout("expireWarn()", "#{facesContext.externalContext.request.session.maxInactiveInterval * 1000 - 120000}");
        </script>
    </f:facet>
	<f:loadBundle basename="messages" var="msgs" />
    <h:form id="form">
        <div id="header">
            <tr:commandLink id="home" action="home" immediate="true">
                <tr:image source="/images/home_transparent.gif" styleClass="img" shortDesc="#{msgs.home}"/>
            </tr:commandLink>
        </div>
        <tr:panelFormLayout id="logout" styleClass="logout">
            <tr:commandLink immediate="true" action="logout">
                <tr:image source="/images/logout.png" styleClass="img" shortDesc="#{msgs.logout}"/>
            </tr:commandLink>
        </tr:panelFormLayout>
        <trh:tableLayout width="100%">
            <trh:rowLayout>
                <trh:cellFormat valign="top" width="15%">
                    <div id="navigation">
                        <tr:panelGroupLayout layout="vertical">
                            <f:facet name="separator">
                              <tr:spacer width="10" height="25"/>
                            </f:facet>
                            <tr:panelHorizontalLayout>
                                <tr:tree var="node" value="#{layout.treeModel}" initiallyExpanded="true">
                                  <f:facet name="nodeStamp">
                                    <tr:panelHorizontalLayout>
                                        <tr:outputText value="#{node.name}" />
                                        <tr:commandLink id="editnode" rendered="#{node.renderEdit}" action="#{layout.editNode}" immediate="true">
                                            <tr:setActionListener from="#{node.id}" to="#{pageFlowScope.userid}"/>
                                            <tr:setActionListener from="home" to="#{pageFlowScope.editusernav}"/>
                                            <tr:image source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}"/>
                                        </tr:commandLink>
                                      </tr:panelHorizontalLayout>
                                  </f:facet>
                                </tr:tree>
                            </tr:panelHorizontalLayout>
                            <tr:panelHorizontalLayout>
                                <tr:image source="/images/hammer2.png" styleClass="img" shortDesc="#{msgs.newwo}"/>
                                <tr:commandLink id="newwo" text="#{msgs.newwo}" action="newwo" styleClass="nav" immediate="true"/>
                            </tr:panelHorizontalLayout>
                            <tr:panelHorizontalLayout>
                                <tr:image source="/images/search.png" styleClass="img" shortDesc="#{msgs.searchwo}"/>
                                <tr:commandLink id="findwo" text="#{msgs.searchwo}" action="searchwo" styleClass="nav" immediate="true"/>
                            </tr:panelHorizontalLayout>
                            <tr:panelHorizontalLayout rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
                                <tr:image source="/images/reports.png" styleClass="img" shortDesc="#{msgs.reports}"/>
                                <tr:commandLink id="reports" text="#{msgs.reports}" action="reports" styleClass="nav" immediate="true"/>
                            </tr:panelHorizontalLayout>
                            <tr:panelHorizontalLayout rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
                                <tr:image source="/images/key.png" styleClass="img" shortDesc="#{msgs.admin}"/>
                                <tr:commandLink id="admin" text="#{msgs.admin}" action="#{layout.adminMain}" styleClass="nav" immediate="true">
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.opendeptpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openlocpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openmsgpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openmtnpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openserpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openuserpanel}"/>
                                    <tr:setActionListener from="#{false}" to="#{pageFlowScope.openwotypepanel}"/>
                                    <tr:setActionListener from="#{null}" to="#{pageFlowScope.editdeptrow}"/>
                                </tr:commandLink>
                            </tr:panelHorizontalLayout>
                            <tr:panelHorizontalLayout>
                                <tr:image source="/images/help.png" styleClass="img" shortDesc="#{msgs.help}"/>
                                <tr:goLink destination="#{appProps.helpUrl}" text="#{msgs.help}" styleClass="nav" targetFrame="_blank"/>
                            </tr:panelHorizontalLayout>
                            <tr:spacer height="1"/>
                        </tr:panelGroupLayout>
                    </div>
                </trh:cellFormat>
                <trh:cellFormat valign="top" halign="left" width="85%">
                    <div id="content">
                        <tr:spacer height="5"/>
                        <tr:outputText value="#{appProps.test?'Test System':''}" styleClass="test-text" />
                        <tr:messages globalOnly="true" text=" "/>
                        <ui:insert name="content">Default Content</ui:insert>
                        <tr:spacer height="10"/>
                    </div>
                </trh:cellFormat>
            </trh:rowLayout>
        </trh:tableLayout>
    </h:form>
</tr:document>
