<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="name" label="#{msgs.sergroup}:" value="#{servname}" columns="58" maximumLength="30"/>
    <tr:inputText id="desc" label="#{msgs.desc}:" columns="58" rows="6" maximumLength="500" value="#{servdesc}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.max500}"/>
        </f:facet>
    </tr:inputText>
    <tr:selectBooleanCheckbox id="active" label="#{msgs.active}:" value="#{active}"/>
    <tr:table id="servItemTable" var="row" width="100%" value="#{pageFlowScope.ServFormListItems}" partialTriggers="addserviceitem dletitem" emptyText="#{msgs.noitems}">
        <tr:column rendered="false">
            <tr:outputText id="servItemRow" binding="#{servForm.bindItemRow}" value="#{row}"/>
        </tr:column>
        <tr:column rendered="false">
            <tr:outputText value="#{row.itemId}"/>
        </tr:column>
        <tr:column headerText="#{msgs.sergroupitems}">
            <tr:inputText id="servItem" value="#{row.name}" readOnly="#{row.readOnly}" columns="50" maximumLength="30"/>
            <tr:inputHidden value="#{row.lastUpd}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
        </tr:column>
        <tr:column headerText="#{msgs.active}">
            <tr:selectBooleanCheckbox id="active" readOnly="#{row.readOnly}" value="#{row.active}"/>
        </tr:column>
        <tr:column width="1%" align="left">
            <tr:panelButtonBar>
                <tr:commandLink id="dletitem" action="#{servForm.deleteItem}" rendered="#{!row.dbStored}" partialSubmit="true" immediate="false">
                    <tr:image id="dletitemimg" source="/images/cancel.png" styleClass="img" shortDesc="#{msgs.dlet}" />
                </tr:commandLink>
            </tr:panelButtonBar>
        </tr:column>
        <f:facet name="footer">
            <tr:commandLink id="addserviceitem" actionListener="#{servForm.addItemRow}" immediate="false" partialSubmit="true">
                <tr:image source="/images/add_plus.jpg" styleClass="img" shortDesc="#{msgs.addserviceitem}"/>
            </tr:commandLink>
        </f:facet>
    </tr:table>
</ui:composition>
Everything below ignored.
</body>
</html>
