<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="name" label="#{msgs.department}:" required="true" value="#{dept}" columns="58" maximumLength="50"/>
    <tr:inputText id="phone" label="#{msgs.phone}:" validator="phoneNumValidator" maximumLength="12" required="true" value="#{phone}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.phoneformat}"/>
        </f:facet>
    </tr:inputText>
    <tr:inputText id="desc" label="#{msgs.desc}:" columns="58" rows="6" required="true" maximumLength="500" value="#{deptdesc}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.max500}"/>
        </f:facet>
    </tr:inputText>
    <tr:selectBooleanCheckbox id="active" label="#{msgs.active}:" value="#{active}"/>
</ui:composition>
Everything below ignored.
</body>
</html>
