<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="loc" label="#{msgs.location}:" required="true" value="#{loc}" maximumLength="30"/>
    <tr:inputText id="desc" label="#{msgs.desc}:" columns="58" rows="6" required="true" maximumLength="500" value="#{locdesc}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.max500}"/>
        </f:facet>
    </tr:inputText>
    <tr:selectOneChoice id="dept" label="#{msgs.department}" valuePassThru="true" unselectedLabel="#{msgs.selectone}" value="#{deptid}" required="true">
        <f:selectItems value="#{pcListDepts}"/>
    </tr:selectOneChoice>
    <tr:selectBooleanCheckbox id="active" label="#{msgs.active}:" value="#{active}"/>
    <tr:panelGroupLayout id="mtnceGroupContainer" layout="vertical">
        <tr:panelHeader size="3" text="#{msgs.mtncegroups}"/>
        <ui:repeat var="item" value="#{mtncegroups}">
            <tr:panelList>
                <tr:outputText value="#{item.groupName}" styleClass="AFLabelText"/>
            </tr:panelList>
        </ui:repeat>
    </tr:panelGroupLayout>
</ui:composition>
Everything below ignored.
</body>
</html>
