<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="title" value="#{msgs.reports}" />
	<ui:define name="content">
        <tr:inputText id="disclaimer" value="#{msgs.reportdisclaimer}" readOnly="true"/>
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.reports}"/>
            <ui:param name="pgimgdesc" value="#{msgs.reports}"/>
            <ui:param name="pgimg" value="/images/reports.gif"/>
        </ui:include>
        <tr:showDetail undisclosedText="Show Filter Criteria" disclosedText="Hide Filter Criteria" disclosed="true">
        <tr:panelFormLayout id="filterCriteria" rows="1" maxColumns="2">
            <tr:panelLabelAndMessage for="begincreatedate" label="#{msgs.begincreatedate}:">
                <rich:calendar id="begincreatedate" inputSize="8" value="#{dashboard.criteria.createStartDate}" required="true" enableManualInput="false" datePattern="M/d/yyyy" />
                <f:facet name="help">
                    <tr:outputText value="#{msgs.dateformat}"/>
                </f:facet>
            </tr:panelLabelAndMessage>
            <tr:selectOneChoice id="dept" label="#{msgs.department}:" value="#{dashboard.criteria.deptId}" unselectedLabel="#{msgs.selectone}">
                <f:selectItems value="#{dashboard.listDepts}"/>
            </tr:selectOneChoice>
            <tr:panelLabelAndMessage for="endcreatedate" label="#{msgs.endcreatedate}:">
                <rich:calendar id="endcreatedate" inputSize="8" value="#{dashboard.criteria.createEndDate}" validator="#{dashboard.endDateTimeValidator}" required="true" enableManualInput="false" datePattern="M/d/yyyy" />
                <f:facet name="help">
                    <tr:outputText value="#{msgs.dateformat}"/>
                </f:facet>
            </tr:panelLabelAndMessage>
            <tr:spacer width="1"/>
        </tr:panelFormLayout>
        <tr:spacer height="5"/>
        <tr:panelButtonBar>
            <tr:commandButton id="refresh" text="#{msgs.refresh}" action="#{dashboard.doRefresh}"/>
        </tr:panelButtonBar>
        </tr:showDetail>
        <tr:panelHorizontalLayout>
            <tr:commandLink id="statusdetail" action="#{dashboard.printDetailCurrentStatus}" text="#{msgs.reportstatus}">
                <tr:chart id="statusChart" YMajorGridLineCount="5" legendPosition="end"
                                XMajorGridLineCount="-1" YMinorGridLineCount="-1"
                                animationDuration="1000" maxPrecision="0" type="pie"
                                value="#{dashboard.statusChart}" inlineStyle="width:350px; height:250px;" />
            </tr:commandLink>
            <tr:spacer width="5"/>
            <tr:commandLink id="typedetail" action="#{dashboard.printDetailTypeWo}" text="#{msgs.reporttype}">
                <tr:chart id="typeChart" YMajorGridLineCount="5" legendPosition="end"
                                XMajorGridLineCount="-1" YMinorGridLineCount="-1"
                                animationDuration="1000" maxPrecision="0" type="pie"
                                value="#{dashboard.typeChart}" inlineStyle="width:350px; height:250px;" />
            </tr:commandLink>
        </tr:panelHorizontalLayout>
        <tr:spacer height="5"/>
        <tr:commandLink id="servdetail" action="#{dashboard.printDetailServArea}" text="#{msgs.reportserv}">
            <tr:chart id="servChart" YMajorGridLineCount="5" legendPosition="end"
                            XMajorGridLineCount="-1" YMinorGridLineCount="-1"
                            animationDuration="1000" maxPrecision="0" type="verticalBar"
                            value="#{dashboard.servChart}" inlineStyle="width:705px; height:250px;" />
        </tr:commandLink>
        <tr:spacer height="5"/>
        <tr:commandLink id="deptdetail" action="#{dashboard.printDetailDeptActivity}" text="#{msgs.reportdept}">
            <tr:chart id="deptChart" YMajorGridLineCount="5" legendPosition="end"
                            XMajorGridLineCount="-1" YMinorGridLineCount="-1"
                            animationDuration="1000" maxPrecision="0" type="verticalBar"
                            value="#{dashboard.deptChart}" inlineStyle="width:705px; height:250px;" />
        </tr:commandLink>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
