<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="title" label="#{msgs.title}:" required="true" value="#{msgtitle}" maximumLength="50"/>
    <tr:inputText id="msg" label="#{msgs.message}:" rows="6" columns="58" required="true" maximumLength="2000" value="#{message}">
        <f:facet name="help">
            <tr:outputText value="#{msgs.max2000}"/> 
        </f:facet>
    </tr:inputText>
</ui:composition>
Everything below ignored.
</body>
</html>
