<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <trh:tableLayout width="100%">
        <trh:rowLayout>
            <trh:cellFormat width="1%">
                <tr:statusIndicator id="ajaxind">
                    <f:facet name="busy">
                        <tr:image id="busy" source="/images/ajax-loader.gif" shortDesc="Loading Icon" />
                    </f:facet>
                    <f:facet name="ready">
                        <tr:image id="ready" source="#{pgimg}" shortDesc="#{pgimgdesc}" />
                    </f:facet>
                </tr:statusIndicator>
            </trh:cellFormat>
            <trh:cellFormat>
                <tr:panelHeader text="#{pgtitle}"/>
            </trh:cellFormat>
        </trh:rowLayout>
    </trh:tableLayout>
</ui:composition>
Everything below ignored.
</body>
</html>
