<tr:document xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad" title="#{msgs.sessiontimeout}"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	inlineStyle="background-color: #3d6692;"
    initialFocusId="home">
	<f:loadBundle basename="messages" var="msgs" />
    <div id="accessdenied">
        <tr:outputText value="#{msgs.sessiontimeout}"/>
        <tr:spacer height="10"/>
        <tr:form>
            <tr:commandLink id="home" text="#{msgs.sessiontimeoutreturn}" action="home"/>
        </tr:form>
    </div>
</tr:document>
