<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:name" />
	<ui:param name="title" value="#{msgs.editservicegroup}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.editservicegroup}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
		<tr:panelFormLayout id="panelFormLayoutNewWo">
            <tr:inputText label="#{msgs.serviceid}:" value="#{editServ.serviceGroupRow.servGroupId}" readOnly="true"/>
            <tr:inputHidden value="#{editServ.serviceGroupRow.lastUpd}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
            <ui:include src="/pages/compositions/servform.xhtml">
                <ui:param name="servname" value="#{editServ.serviceGroupRow.servGroup}"/>
                <ui:param name="servdesc" value="#{editServ.serviceGroupRow.servGroupDesc}"/>
                <ui:param name="active" value="#{editServ.serviceGroupRow.active}"/>
            </ui:include>
            <tr:panelButtonBar>
                <tr:commandButton id="upduser" text="#{msgs.updserv}" action="#{editServ.updateServ}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="admin" immediate="true"/>
            </tr:panelButtonBar>
		</tr:panelFormLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
