<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="title" value="#{msgs.admin}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.admin}"/>
            <ui:param name="pgimgdesc" value="#{msgs.admin}"/>
            <ui:param name="pgimg" value="/images/key_sm.png"/>
        </ui:include>
        <rich:simpleTogglePanel id="userpanel" switchType="client" label="#{msgs.users}" opened="#{pageFlowScope.openuserpanel}">
            <tr:table id="userresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listUsers}" rows="100" rendered="true"
                emptyText="#{msgs.nousers}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="adduser" text="#{msgs.adduser}" action="adduser">
                            <tr:setActionListener from="admin" to="#{pageFlowScope.addusernav}"/>
                        </tr:commandButton>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.username}" align="left" sortable="true" sortProperty="fullName">
                    <tr:outputText value="#{row.fullName}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="userStatus">
                    <tr:outputText value="#{row.userStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.phone}" align="left" sortable="true" sortProperty="phone">
                    <tr:outputText value="#{row.phone}" />
                </tr:column>
                <tr:column headerText="#{msgs.email}" align="left" sortable="true" sortProperty="email">
                    <tr:goLink text="#{row.email}" destination="mailto:#{row.email}"/>
                </tr:column>
                <tr:column headerText="#{msgs.department}" align="left" sortable="true" sortProperty="dept">
                    <tr:outputText value="#{row.dept}" />
                </tr:column>
                <tr:column headerText="#{msgs.defloc}" align="left" sortable="true" sortProperty="location">
                    <tr:outputText value="#{row.location}" />
                </tr:column>
                <tr:column headerText="#{msgs.role}" align="left" sortable="true" sortProperty="role">
                    <tr:outputText value="#{row.role}" />
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="edituser" action="edituser">
                            <tr:setActionListener from="admin" to="#{pageFlowScope.editusernav}"/>
                            <tr:setActionListener from="#{row.userId}" to="#{pageFlowScope.userid}"/>
                            <tr:image id="edituserimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="deptpanel" switchType="client" label="#{msgs.departments}" opened="#{pageFlowScope.opendeptpanel}">
            <tr:table id="deptresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listDepts}" rows="50" rendered="true"
                emptyText="#{msgs.nodept}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="adddept" text="#{msgs.adddept}" action="adddept"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.department}" align="left" sortable="true" sortProperty="deptName">
                    <tr:outputText value="#{row.deptName}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="deptStatus">
                    <tr:outputText value="#{row.deptStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.phone}" align="left" sortable="true" sortProperty="deptPhone">
                    <tr:outputText value="#{row.deptPhone}" />
                </tr:column>
                <tr:column headerText="#{msgs.desc}" align="left" sortable="true" sortProperty="deptDesc">
                    <tr:outputText value="#{row.deptDesc}" />
                </tr:column>
                <tr:column headerText="#{msgs.locations}" align="left">
                    <ui:repeat var="item" value="#{row.listLocations}">
                        <tr:panelList>
                            <tr:outputText value="#{item.locName}"/>
                        </tr:panelList>
                    </ui:repeat>
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editdept" action="editdept">
                            <tr:setActionListener from="admin" to="#{pageFlowScope.depcancelnav}"/>
                            <tr:setActionListener from="#{row.deptId}" to="#{pageFlowScope.deptid}"/>
                            <tr:image id="editdeptimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="locpanel" switchType="client" label="#{msgs.locations}" opened="#{pageFlowScope.openlocpanel}">
            <tr:table id="locresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listLocs}" rows="50" rendered="true"
                emptyText="#{msgs.noloc}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="addloc" text="#{msgs.addloc}" action="addloc"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.location}" align="left" sortable="true" sortProperty="locName">
                    <tr:outputText value="#{row.locName}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="locStatus">
                    <tr:outputText value="#{row.locStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.desc}" align="left" sortable="true" sortProperty="locDesc">
                    <tr:outputText value="#{row.locDesc}" />
                </tr:column>
                <tr:column headerText="#{msgs.department}" align="left" sortable="true" sortProperty="locDept">
                    <tr:outputText value="#{row.locDept}" />
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editloc" action="editloc">
                            <tr:setActionListener from="#{row.locId}" to="#{pageFlowScope.locid}"/>
                            <tr:image id="editlocimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="servicepanel" switchType="client" label="#{msgs.services}" opened="#{pageFlowScope.openserpanel}">
            <tr:table id="serviceresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listServiceGroups}" rows="50" rendered="true"
                emptyText="#{msgs.noserv}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="addservice" text="#{msgs.addservicegroup}" action="#{adminMain.addServGroup}"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.sergroup}" align="left" sortable="true" sortProperty="servGroup">
                    <tr:outputText value="#{row.servGroup}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="servGroupStatus">
                    <tr:outputText value="#{row.servGroupStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.desc}" align="left" sortable="true" sortProperty="servGroupDesc">
                    <tr:outputText value="#{row.servGroupDesc}" />
                </tr:column>
                <tr:column headerText="#{msgs.sergroupitems}" align="left">
                    <ui:repeat var="item" value="#{row.listItems}">
                        <tr:panelList>
                            <tr:outputText value="#{item.name}"/>
                        </tr:panelList>
                    </ui:repeat>
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editserv" action="#{adminMain.editServGroup}">
                            <tr:setActionListener from="#{row.servGroupId}" to="#{pageFlowScope.sergroupid}"/>
                            <tr:image id="editservimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="mtncpanel" switchType="client" label="#{msgs.mtncegroups}" opened="#{pageFlowScope.openmtnpanel}">
            <tr:table id="mtncegroupresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listMtnceGroups}" rows="50" rendered="true"
                emptyText="#{msgs.nomtncegroups}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="addmtncegroup" text="#{msgs.addmaintenancegroup}" action="addmtnce"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.mtncegroup}" align="left" sortable="true" sortProperty="groupName">
                    <tr:outputText value="#{row.groupName}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="groupStatus">
                    <tr:outputText value="#{row.groupStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.desc}" align="left" sortable="true" sortProperty="groupDesc">
                    <tr:outputText value="#{row.groupDesc}" />
                </tr:column>
                <tr:column headerText="#{msgs.users}" align="left">
                    <ui:repeat var="item" value="#{row.listMtncePersonnel}">
                        <tr:panelList>
                            <tr:outputText value="#{item.fullName}"/>
                        </tr:panelList>
                    </ui:repeat>
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editmtnce" action="editmtnce">
                            <tr:setActionListener from="#{row.groupId}" to="#{pageFlowScope.mtncegroupid}"/>
                            <tr:image id="editmtnceimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="wotypespanel" switchType="client" label="#{msgs.wotypes}" opened="#{pageFlowScope.openwotypepanel}">
            <tr:table id="wotypesresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listWoTypes}" rows="50" rendered="true"
                emptyText="#{msgs.nowotype}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="addwotype" text="#{msgs.addwotype}" action="addwotype"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.wotype}" align="left" sortable="true" sortProperty="woTypeName">
                    <tr:outputText value="#{row.woTypeName}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="left" sortable="true" sortProperty="woTypeStatus">
                    <tr:outputText value="#{row.woTypeStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.desc}" align="left" sortable="true" sortProperty="woTypeDesc">
                    <tr:outputText value="#{row.woTypeDesc}" />
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editwotype" action="editwotype">
                            <tr:setActionListener from="#{row.woTypeId}" to="#{pageFlowScope.wotypeid}"/>
                            <tr:image id="editwotypeimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
        <rich:simpleTogglePanel id="msgpanel" switchType="client" label="#{msgs.messages}" opened="#{pageFlowScope.openmsgpanel}">
            <tr:table id="womsgresults" var="row" rowBandingInterval="1"
                value="#{pageFlowScope.adminbean.listMessages}" rows="50" rendered="true"
                emptyText="#{msgs.nomsgs}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="addmsg" text="#{msgs.addmsg}" action="addmsg"/>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.title}" align="left" sortable="true" sortProperty="msgTitle">
                    <tr:outputText value="#{row.msgTitle}" />
                </tr:column>
                <tr:column headerText="#{msgs.message}" align="left" sortable="true" sortProperty="msg">
                    <tr:outputText value="#{row.msg}" />
                </tr:column>
                <tr:column headerText="#{msgs.datepost}" align="left" sortable="true" sortProperty="msgDate">
                    <tr:outputText value="#{row.msgDate}">
                        <f:convertDateTime  pattern="M/d/yyyy h:mm a" type="both"/>
                    </tr:outputText>
                </tr:column>
                <tr:column headerText="#{msgs.updby}" align="left" sortable="true" sortProperty="updBy">
                    <tr:outputText value="#{row.updBy}" />
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="editmsg" action="editmsg">
                            <tr:setActionListener from="#{row.msgId}" to="#{pageFlowScope.msgid}"/>
                            <tr:image id="editmsgimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                        <tr:commandLink id="dletmsg" action="#{adminMain.deleteMsg}">
                            <tr:setActionListener from="#{row.msgId}" to="#{pageFlowScope.msgid}"/>
                            <tr:image id="dletmsgimg" source="/images/cancel.png" styleClass="img" shortDesc="#{msgs.dlet}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
        </rich:simpleTogglePanel>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
