<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="title" value="#{msgs.home}" />
	<ui:define name="content">
        <ui:repeat var="item" value="#{home.listMessages}">
            <tr:panelBox icon="//propertymaintenance/images/newsIcon.png" text="#{item.msgTitle}" background="transparent">
                <tr:outputText value="#{item.msg}"/>
                <tr:spacer height="4"/>
                <tr:outputText value="#{msgs.posted} #{item.msgDate}" styleClass="opaque-text"/>
                <tr:spacer height="10"/>
            </tr:panelBox>
        </ui:repeat>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
