<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition>
    <tr:inputText id="fname" label="#{msgs.fname}:" required="true" value="#{fname}" maximumLength="20"/>
    <tr:inputText id="lname" label="#{msgs.lname}:" required="true" value="#{lname}" maximumLength="30"/>
    <tr:inputText id="uname" label="#{msgs.username}:" required="true" validator="#{userNameValidator.validate}" value="#{uname}" maximumLength="20"/>
    <tr:inputText id="pwd" label="#{msgs.password}:" required="true" value="#{password}" maximumLength="20" validator="passwordValidator"/>
    <tr:inputText id="phone" label="#{msgs.phone}:" value="#{phone}" maximumLength="12" validator="phoneNumValidator">
        <f:facet name="help">
            <tr:outputText value="#{msgs.phoneformat}"/>
        </f:facet>
    </tr:inputText>
    <tr:inputText id="email" label="#{msgs.email}:" value="#{email}" maximumLength="50" validator="emailValidator"/>
    <tr:selectOneChoice id="dept" label="#{msgs.department}:" autoSubmit="true" immediate="true" valueChangeListener="#{bean[deptSelectionAction]}" valuePassThru="true" unselectedLabel="#{msgs.selectone}" required="true" value="#{dept}" rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
        <f:selectItems value="#{depts}" />
    </tr:selectOneChoice>
    <tr:panelLabelAndMessage id="locContainer" label="#{msgs.defloc}:" showRequired="#{role == 5}" partialTriggers="form:dept form:role" for="defaultLocation">
        <tr:selectOneChoice id="defaultLocation" converter="integerConverter"  
                            simple="true" valuePassThru="true" unselectedLabel="#{msgs.selectone}" immediate="true" value="#{loc}" readOnly="#{!securityScope.userInAllRoles['ROLE_SUPER']}">
            <f:selectItems value="#{locs}" />
        </tr:selectOneChoice>
    </tr:panelLabelAndMessage>
    <tr:selectOneChoice id="role" label="#{msgs.role}:" immediate="true" required="true" value="#{role}" autoSubmit="true" rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}">
        <f:selectItems value="#{roles}" />
    </tr:selectOneChoice>
    <tr:selectBooleanCheckbox id="active" label="#{msgs.active}:" value="#{active}" rendered="#{securityScope.userInAllRoles['ROLE_SUPER']}"/>
    <tr:panelGroupLayout id="mtnceGroupContainer" layout="vertical" partialTriggers="form:role">
        <tr:panelHeader size="3" text="#{msgs.mtncegroups}" rendered="#{role == 3}"/>
        <ui:repeat var="item" value="#{mtncegroups}">
            <tr:panelList rendered="#{role == 3}">
                <tr:outputText value="#{item.groupName}" styleClass="AFLabelText"/>
            </tr:panelList>
        </ui:repeat>
    </tr:panelGroupLayout>
</ui:composition>
Everything below ignored.
</body>
</html>
