<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:name" />
	<ui:param name="title" value="#{msgs.addmaintenancegroup}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.addmaintenancegroup}"/>
            <ui:param name="pgimgdesc" value="#{msgs.add}"/>
            <ui:param name="pgimg" value="/images/add_plus_inverse.jpg"/>
        </ui:include>
		<tr:panelFormLayout>
            <ui:include src="/pages/compositions/mtnceform.xhtml">
                <ui:param name="mtncegroup" value="#{addMtnce.mtnceGroupRow.groupName}"/>
                <ui:param name="mtncedesc" value="#{addMtnce.mtnceGroupRow.groupDesc}"/>
                <ui:param name="active" value="#{addMtnce.mtnceGroupRow.active}"/>
                <ui:param name="mtncegroupwotypes" value="#{addMtnce.mtnceGroupRow.listWoTypeSelections}"/>
                <ui:param name="mtncegrouploc" value="#{addMtnce.mtnceGroupRow.listLocations}"/>
                <ui:param name="mtncegrouppersonnel" value="#{addMtnce.mtnceGroupRow.listMtncePersonnelSelections}"/>
            </ui:include>
            <tr:panelButtonBar>
                <tr:commandButton id="update" text="#{msgs.addmaintenancegroup}" action="#{addMtnce.newMtnceGroup}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="admin" immediate="true"/>
            </tr:panelButtonBar>
		</tr:panelFormLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
