<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
    <ui:param name="focus" value="form:fname" />
	<ui:param name="title" value="#{msgs.edituser}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.edituser}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
        <tr:panelFormLayout>
            <tr:inputText id="userid" label="#{msgs.userid}:" readOnly="true" value="#{editUser.userRow.userId}" />
            <tr:inputHidden value="#{editUser.userRow.lastUpd}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
            <ui:include src="/pages/compositions/userform.xhtml">
                <ui:param name="fname" value="#{editUser.userRow.fname}"/>
                <ui:param name="lname" value="#{editUser.userRow.lname}"/>
                <ui:param name="uname" value="#{editUser.userRow.uname}"/>
                <ui:param name="password" value="#{editUser.userRow.pwd}"/>
                <ui:param name="phone" value="#{editUser.userRow.phone}"/>
                <ui:param name="email" value="#{editUser.userRow.email}"/>
                <ui:param name="dept" value="#{editUser.userRow.deptId}"/>
                <ui:param name="role" value="#{editUser.userRow.roleId}"/>
                <ui:param name="active" value="#{editUser.userRow.active}"/>
                <ui:param name="mtncegroups" value="#{editUser.userRow.listMtnceGroups}"/>
            </ui:include>
            <tr:panelButtonBar>
                <tr:commandButton id="upduser" text="#{msgs.upduser}" action="#{editUser.updateUser}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="#{editUser.cancel}" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
    </ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
