<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:fname" />
	<ui:param name="title" value="#{msgs.adduser}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.adduser}"/>
            <ui:param name="pgimgdesc" value="#{msgs.add}"/>
            <ui:param name="pgimg" value="/images/add_plus_inverse.jpg"/>
        </ui:include>
        <tr:panelFormLayout>
            <ui:include src="/pages/compositions/userform.xhtml">
                <ui:param name="fname" value="#{addUser.userRow.fname}"/>
                <ui:param name="lname" value="#{addUser.userRow.lname}"/>
                <ui:param name="uname" value="#{addUser.userRow.uname}"/>
                <ui:param name="password" value="#{addUser.userRow.pwd}"/>
                <ui:param name="phone" value="#{addUser.userRow.phone}"/>
                <ui:param name="email" value="#{addUser.userRow.email}"/>
                <ui:param name="dept" value="#{addUser.userRow.deptId}"/>
                <ui:param name="role" value="#{addUser.userRow.roleId}"/>
                <ui:param name="active" value="#{addUser.userRow.active}"/>
                <ui:param name="mtncegroups" value="#{addUser.userRow.listMtnceGroups}"/>
            </ui:include>
        </tr:panelFormLayout>
        <tr:panelButtonBar>
            <tr:commandButton id="adduser" text="#{msgs.adduser}" action="#{addUser.newUser}"/>
            <tr:commandButton id="cancel" text="#{msgs.cancel}" action="#{addUser.cancel}" immediate="true"/>
        </tr:panelButtonBar>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
