<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:name" />
	<ui:param name="title" value="#{msgs.editdept}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.editdept}"/>
            <ui:param name="pgimgdesc" value="#{msgs.edit}"/>
            <ui:param name="pgimg" value="/images/edit.gif"/>
        </ui:include>
		<tr:panelFormLayout>
            <tr:inputText label="#{msgs.deptid}:" readOnly="true" value="#{editDept.deptRow.deptId}"/>
            <tr:inputHidden value="#{editDept.deptRow.lastUpd}">
                <f:convertDateTime pattern="M/d/yyyy h:mm:ss a" type="both"/>
            </tr:inputHidden>
            <ui:include src="/pages/compositions/deptform.xhtml">
                <ui:param name="dept" value="#{editDept.deptRow.deptName}"/>
                <ui:param name="phone" value="#{editDept.deptRow.deptPhone}"/>
                <ui:param name="deptdesc" value="#{editDept.deptRow.deptDesc}"/>
                <ui:param name="active" value="#{editDept.deptRow.deptActive}"/>
            </ui:include>
            <tr:table id="userresults" var="row" rowBandingInterval="1"
                value="#{editDept.deptRow.listUsers}" rows="50" rendered="true"
                emptyText="#{msgs.nousers}" width="100%">
                <f:facet name="actions">
                    <tr:panelButtonBar>
                        <tr:commandButton id="adduser" text="#{msgs.adduser}" action="#{editDept.addUser}">
                            <tr:setActionListener from="editdept" to="#{pageFlowScope.addusernav}"/>
                            <tr:setActionListener from="#{editDept.deptRow.deptId}" to="#{pageFlowScope.addUserFromDept}"/>
                        </tr:commandButton>
                    </tr:panelButtonBar>
                </f:facet>
                <tr:column headerText="#{msgs.username}" align="center" sortable="true">
                    <tr:outputText value="#{row.uname}" />
                </tr:column>
                <tr:column headerText="#{msgs.status}" align="center" sortable="true">
                    <tr:outputText value="#{row.userStatus}" />
                </tr:column>
                <tr:column headerText="#{msgs.phone}" align="center" sortable="true">
                    <tr:outputText value="#{row.phone}" />
                </tr:column>
                <tr:column headerText="#{msgs.email}" align="center" sortable="true">
                    <tr:outputText value="#{row.email}" />
                </tr:column>
                <tr:column width="1%" align="left">
                    <tr:panelButtonBar>
                        <tr:commandLink id="edituser" action="#{editDept.editUser}">
                            <tr:setActionListener from="#{row.userId}" to="#{pageFlowScope.userid}"/>
                            <tr:setActionListener from="editdept" to="#{pageFlowScope.editusernav}"/>
                            <tr:image id="edituserimg" source="/images/edit.gif" styleClass="img" shortDesc="#{msgs.edit}" />
                        </tr:commandLink>
                    </tr:panelButtonBar>
                </tr:column>
            </tr:table>
            <tr:panelButtonBar>
                <tr:commandButton id="update" text="#{msgs.upddept}" action="#{editDept.updateDept}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="#{editDept.cancel}" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
