<tr:document xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad" title="#{msgs.accessdenied}"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	inlineStyle="background-color: #3d6692;">
	<f:loadBundle basename="messages" var="msgs" />
    <tr:panelFormLayout id="accessdenied">
        <tr:outputText value="#{msgs.accessdenied}"/>
    </tr:panelFormLayout>
</tr:document>
