<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:trh="http://myfaces.apache.org/trinidad/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<body>
Everything above ignored.
<ui:composition template="/pages/compositions/layout.xhtml">
	<ui:param name="focus" value="form:loc" />
	<ui:param name="title" value="#{msgs.newwo}" />
	<ui:define name="content">
        <ui:include src="/pages/compositions/pageheader.xhtml">
            <ui:param name="pgtitle" value="#{msgs.newwo}"/>
            <ui:param name="pgimgdesc" value="#{msgs.newwo}"/>
            <ui:param name="pgimg" value="/images/hammer2_sm.png"/>
        </ui:include>
        <tr:panelFormLayout id="panelFormLayoutNewWo">
            <tr:selectOneChoice id="loc" label="#{msgs.location}" valuePassThru="true" value="#{addWo.workOrderRow.woLocationId}" unselectedLabel="#{msgs.selectone}" required="true">
                <f:selectItems value="#{addWo.listLocations}"/>
            </tr:selectOneChoice>
            <tr:selectOneChoice id="typeWork" label="#{msgs.wotype}" valuePassThru="true" value="#{addWo.workOrderRow.woTypeId}" unselectedLabel="#{msgs.selectone}" required="true">
                <f:selectItems value="#{addWo.listWoTypes}"/>
            </tr:selectOneChoice>
            <tr:panelLabelAndMessage label="#{msgs.reqcompldate}" for="dateReqCompleted" showRequired="true">
                <rich:calendar id="dateReqCompleted" inputSize="8" value="#{addWo.workOrderRow.woReqCompDate}" enableManualInput="true" datePattern="M/d/yyyy" required="true"/>
                <f:facet name="help">
                    <tr:outputText value="#{msgs.dateformat}"/>
                </f:facet>
            </tr:panelLabelAndMessage>
            <tr:inputText id="reqComments" label="#{msgs.reqcomments}" value="#{addWo.workOrderRow.woReqComments}" columns="56" rows="6" maximumLength="1000" required="true">
                <f:facet name="help">
                    <tr:outputText value="#{msgs.max1000}"/>
                </f:facet>
            </tr:inputText>
            <tr:panelButtonBar>
                <tr:commandButton id="subRequest" text="#{msgs.submitwo}" action="#{addWo.newWorkOrder}"/>
                <tr:commandButton id="cancel" text="#{msgs.cancel}" action="home" immediate="true"/>
            </tr:panelButtonBar>
        </tr:panelFormLayout>
	</ui:define>
</ui:composition>
Everything below ignored.
</body>
</html>
